.testimonials{
    padding-bottom: 90px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 90px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
.testimonials__title{
    color: #5995C5;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    letter-spacing: 2.2px;
    line-height: 17.6px;
}
.testimonials__subtitle{
    margin-top: 20px;
    margin-bottom: 25px;
    color: #1E2D4B;
    font-family: "Marcellus", serif;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0.6px;
    line-height: 39px;
}
.testimonials__text{
    color: #727682;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
}
.testimonials__carousel-slide-name{
    color: #151f36;
    font-family: "Marcellus", serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 28.6px;
}
.testimonials__carousel-slide-feedback{
    margin-top: 25px;
    color: #868B9B;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}
.testimonials__carousel-slide-date{
    color: #5995C5;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    letter-spacing: 2.2px;
    line-height: 17.6px;
}