.classes__block-title {
  font-size: 0.67rem;
  color: var( --footer-nav-text-color);
}

.classes__list {
  display: grid;
  gap: 10px;
}

@media (min-width: 990px) {
    .classes__list {
        grid-template-columns: 1fr 1fr;
    }
}

.button_join-group {
  padding: 20px;
  background-color: var(--footer-paragraph-color);
  display: inline-block;
  border: 1px solid var(--footer-copyright-background-color);
}
.button_join-group:hover {
  background-color: var(--header-nav-text-color);
}
