.classes__block-title {
  font-size: 0.67rem;
  color: var( --footer-nav-text-color);
}

.classes__list {
  display: grid;
  gap: 5px;
}

@media (min-width: 990px) {
    .classes__list {
        grid-template-columns: 1fr 1fr;
    }
}
