.classes__list {
  display: grid;
  padding: 0 24px;
  background-color: var(--background-color-secondary);
}

.section-wrapper {
  background-color: var(--background-color-secondary);
}

.classes__list__yoga-types {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr auto 2fr;
  padding: 39px 43px;
  background-color: var(--background-color-narrative);
}

.classes__list__yoga-types-title {
  display: flex;
  align-items: flex-end;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--schedule-title-color);
}

.classes__list__yoga-types-instructors {
  font-size: 11px;
  color: var(--text-color-focus);
  letter-spacing: 2.2px;
  font-weight: 700;
}

.button_join-group {
  display: flex;
  align-items: flex-end;
}

.button_join-group a {
  color: var(--text-color-emphasis);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  border: 1px solid var(--footer-copyright-background-color);
  background-color: var(--footer-paragraph-color);
  padding: 17px 25px;
}

.button_join-group a:hover {
  background-color: var(--text-color-emphasis);
  color: var(--background-color-narrative);
}

.classes__list__yoga-types-descriptions {
  color: var(--text-color-narrative);
}

@media screen and (min-width: 768px) {
  .classes__list {
    grid-template-columns: 1fr;
    gap: 30px 0;
  }
  .classes__list__yoga-types-title {
    font-size: 32px;
    align-items: center;
  }

  .item-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .item-wrapper:nth-of-type(even) .yoga-type-image {
    order: 2;
  }
}

.private-lesson {
  background-image: url("../img/classes/background-private-lesson.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-top: 120px;
}

.outer-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 125px 14px;
}

.private-lesson-wrapper {
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-narrative);
  min-height: 450px;
  align-items: flex-start;
  justify-content: space-around;
  gap: 30px;
}

.classes__private-lessons-book-a-class {
  color: var(--background-color-narrative);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  background-color: var(--footer-nav-text-color);
  padding: 17px 25px;
}
.classes__private-lessons-book-a-class:hover {
  background-color: var(--text-color-emphasis);
}

.classes__list__yoga-types-title .private-lesson-wrapper {
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  .outer-wrapper {
    grid-template-columns: 1fr 1.8fr;
    padding: 125px 24px;
  }
}
