.footer {
    background-color: var(--footer-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.footer__image {
    width: 69px;
    height: 64px;
}

.social-copyright-container {
    background-color: var(--footer-copyright-background-color);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: space-around;
    padding:15px 32px;
}

.footer__copyright-text,
.footer__description-text {
    color: var(--footer-paragraph-color);
    font-size: 14px;
    width: fit-content;
}

.footer__menu-link {
    color: var(--footer-nav-text-color);
    text-decoration: none;
    font-size: 16px;
}

.footer__title {
    color: #FFFF;
    font-size: 30px;
}

.footer__description-container {
    text-align: center;
    width: 45%;
    line-height: 1.8;
}

.social-icons-link {
    color: var(--footer-nav-text-color);
    justify-content: space-between;
}

.footer__social-icons-container {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.social-copyright-container {
    justify-content: space-between;
}

.footer__description-text,
.footer__menu,
.footer__title {
    padding: 7px;
}

.footer__logo {
    padding-top: 110px;
}

.footer__menu-item {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    font-weight: 600;
}

.footer__menu {
    list-style: none;
    text-align: center;
}

.footer__description-text {
    padding-bottom: 100px;
    font-weight: 500;
}

@media(max-width:767px) {
    .social-copyright-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .footer__social-icons-container {
        width: 70%;
        display: flex;
        justify-content: space-around;
    }

    .footer__description-container {
        text-align: center;
        width: 90%;
    }

    .footer__title {
        font-size: 28px;
    }

    .footer__social-icons-container,
    .footer__copyright-text {
        padding: 10px;
    }
}