.header {
  padding: 30px 40px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  position: relative;
  z-index: 50;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: #fff;
}

.header__image {
  width: 101px;
  height: 50px;
  position: relative;
  z-index: 3;
}

.header__address-link {
  text-decoration: underline;
  font-weight: bold;
  color: var(--footer-nav-text-color);
}

.header__menu {
  display: flex;
  list-style: none;
  margin-left: 40px;
  z-index: 2;
}

.header__address {
  padding-top: 15px;
  margin: 0px;
  display: flex;
  padding-left: 20px;
  z-index: 2;
}

.header__menu-item {
  padding: 0;
  margin: 12.5px 20px;
}

.header__menu-link {
  color: var(--header-nav-text-color);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.header__address-link {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

.header__addres-icon {
  font-weight: bold;
  color: var(--footer-nav-text-color);
  padding-right: 2px;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.header__burger-menu {
  display: none;
}
@media (max-width: 990px) {
  .header.lock{
    overflow:hidden;
  }
  .header__burger-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin-top: 15px;
  }
  .header__burger-menu:before,
  .header__burger-menu:after {
    content: "";
    background-color: var(--header-burger-menu-span-color);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition:all 0.3s ease 0s;
  }
  .header__burger-menu span {
    position: absolute;
    background-color: var(--header-burger-menu-span-color);
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition:all 0.3s ease 0s;
  }
  .header__burger-menu:before {
    top: 0;
  }
  .header__burger-menu:after {
    bottom: 0;
  }
  .header__nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    background-color: #fff;
    padding: 110px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition:all 0.3s ease 0s;
  }
  .header__menu {
    display: block;
  }
  .header__menu-item {
    text-align: center;
  }
  .header__address {
    align-items: center;
    padding-left: 35px;
  }
  .header__burger-menu.active:before {
    transform: rotate(45deg);
    top:9px;
  }
  .header__burger-menu.active:after {
    transform: rotate(-45deg);
    bottom:9px;
  }
  .header__burger-menu.active span{
    transform:scale(0);
  }
  .header__nav.active{
    top:0;
  }
}
