.header {
  padding: 30px 40px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  position: relative;
}

.header__image {
  width: 101px;
  height: 50px;
}

.header__address-link {
  text-decoration: underline;
  font-weight: bold;
  color: var(--footer-nav-text-color);
}

.header__menu {
  display: flex;
  list-style: none;
  margin-left: 40px;
}

.header__address {
  padding-top: 15px;
  margin: 0px;
  display: flex;
}

.header__menu-item {
  padding: 0;
  margin: 12.5px 20px;
}

.header__menu-link {
  color: var(--header-nav-text-color);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.header__address-link {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

.header__addres-icon {
  font-weight: bold;
  color: var(--footer-nav-text-color);
  padding-right: 2px;
}

.header__burger-menu {
  display: flex;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 40px;
  height: 40px;
}

.header__burger-menu span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: var(--header-burger-menu-span-color);
  display: block;
}



.header__burger-menu::before,
.header__burger-menu::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  transform: all 0.3s ease 0s;
  background-color: var(--header-burger-menu-span-color);
  display: block;
}

.header__burger-menu::before {
  top: 0;
}

.header__burger-menu::after {
  bottom: 0;
}

.header__burger-menu.active span {
  transform: scale(0);
}

.header__burger-menu.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.header__burger-menu.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}