.footer {
    background-color: var(--footer-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__image {
    width: 69px;
    height: 64px;
}

.social-copyright-container {
    background-color: var(--footer-copyright-background-color);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.footer__copyright-text,
.footer__description-text {
    color: var(--footer-paragraph-color);
}

.footer__menu-link {
    color: var(--footer-nav-text-color);
    text-decoration: none;
}

.footer__title {
    color: #FFFF;
}

.footer__description-container {
    text-align: center;
    width: 718px;
    height: 50px;
}

@media(max-width:767px) {
    .social-copyright-container {
        flex-direction: column;
        align-items: center;
    }
}