@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  --header-nav-text-color: rgba(47, 53, 71, 0.7);
  --footer-nav-text-color: #5995c5;
  --footer-paragraph-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f3547;
  --footer-copyright-background-color: rgb(41, 46, 63);
  --schedule-accent-color: #f3f5e9;
  --schedule-text-color: rgba(114, 118, 130, 0.69);
  --header-hero-background-color-info: #dceafd;
}

h2,
h3,
h4 {
  font-family: "Marcellus", serif;
}
h1,
p {
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}
