

.container {
    max-width: 1200px;
}

.news__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.news__board {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
}

.news__sheet {
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.news__sheet-text {
    flex: 1;
}

.news__sheet-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20px;
    display: block;
    border-radius: 50%; 
    margin-bottom: 20px; 
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .col-md-5, .col-md-7 {
        width: 100%;
        height: auto;
    }
    .news__sheet {
        flex-direction: column;
        align-items: start;
    }
    .news__sheet-image {
        width: 100%;
        margin-left: 0;
    }
}


.news__sheet-image-wrapper {
    margin-left: auto; 
    position: relative; 
}


.btn-link {
    position: absolute;
    margin-top: 10px;
    bottom: 5px; 
    right: 10px; 
    padding: .125rem .75rem; 
    color: #494b4d;
    text-decoration: none; 
    background-color: transparent;
}
.btn-link:hover {
    color: #494b4d;
    text-decoration: underline;
}