/* Стилі для заголовка другого рівня */
.training__title {
    margin-top: 20px;
}

/* Стилі для підзаголовка розділу */
.main-page-classes__sub-title {
    color: rgb(114, 118, 130);
}

/* Стилі для тексту розділу */
.main-page-classes__description {
    color: rgb(134, 139, 155);
    margin-top: 20px;
}