:root {
    --main-bg-color: rgb(220, 234, 253);
    --sub-title-color: rgb(114, 118, 130);
    --button-bg-color: #5995c5;
    --button-hover-bg-color: #2f3547;
}

.join-us__main_section {
    position: relative;
    padding: 50px;
    height: 80%;
}

.join-us__section {
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--main-bg-color);
    text-align: center;
    font-weight: 80%;
}

.join-us__image {
    display: block;
    height: 20%;
    max-width: 20%;
    margin: auto;
}

.join-us__title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.join-us__sub-title {
    color: var(--sub-title-color);
    margin-bottom: 20px;
    font-size: 20px;
}

.join-us__button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--button-bg-color);
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: relative;
    width: 20%;
    height: 15%;
    cursor: pointer;
    border: none;
}

.join-us__button:hover {
    background-color: var(--button-hover-bg-color);
}

@media screen and (max-width: 768px) {
    .join-us__section {
        padding: 15px;
        border-radius: 5px;
    }

    .join-us__button {
        padding: initial;
    }
}

@media screen and (max-width: 1410px) {
    .join-us__button {
        width: 25%;
    }
}