*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-page-classes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-page-classes__header {
    .main-page-classes__title {
        text-align: center;
        margin-top: 30px;
        color: #5995c5;
        word-wrap: break-word;
        font-family: sans-serif;
        font-size: 30px;
    }

    .main-page-classes__sub-title {
        text-align: center;
        margin-top: 20px;
        color: rgb(5, 9, 27);
        font-size: 30px;
    }

    .main-page-classes__description {
        color: rgb(134, 139, 155);
        margin-top: 20px;
        text-align: center;
        margin-bottom: 30px;
    }
}

.classes__caurosel {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 50vh;
    align-self: flex-end;
    margin-bottom: 5px;
}

.carousel__slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.carousel__slide[data-active] {
    position: absolute;
    opacity: 1;
    inset: 0;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    transition-delay: 0.5s;
}

.carousel__image {
    border-radius: 50%;
    min-width: auto;
    max-height: 400px;
    object-fit: initial;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.carousel__plan {
    color: rgb(134, 139, 155);
    margin-top: 20px;
    text-align: center;
}

.carousel__title {
    text-align: center;
    margin-top: 20px;
    color: rgb(5, 9, 27);
    font-size: 30px;
}

.carousel__button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: aqua;
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel__button:hover,
.carousel__button:focus {
    color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, .2);
}

.carousel__button:focus {
    outline: 1px solid black;
}

.carousel__button--right {
    float: right;
    right: 1rem;
    transform: translateY(-50%);
}

.carousel__button--left {
    float: left;
    left: 1rem;
    transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
    .carousel__image {
        min-width: 150px;
        min-height: 170px;
    }
}

@media screen and (max-width: 1370px) {
    .classes__caurosel {
        height: 30vh;
    }
}

@media screen and (max-width: 3200px) {
    .carousel__image {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        margin: auto;
        max-width: 80%;
    }

    .carousel__button--right {
        right: 3rem;
    }
    
    .carousel__button--left {
        left: 3rem;
    }

    .carousel__title {
        margin-bottom: 20px;
    }
}