:root {
    --primary-color: #5995c5;
    --secondary-color: rgb(5, 9, 27);
    --tertiary-color: rgba(47, 53, 71, 0.71);
    --quaternary-color: rgb(134, 139, 155);
    --button-background: #5995c5;
    --button-hover-background: #2f3547;
    --background-color: #f8f8f8;
}

.training__section {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--background-color);
}

.training__section_title {
    margin-top: 30px;
    color: var(--primary-color);
    word-wrap: break-word;
    font-family: sans-serif;
    font-size: 20px;
}

.training {
    margin-left: 20px;
    line-height: 1.5;
}

.training__title {
    margin-top: 20px;
    color: var(--secondary-color);
    font-size: 30px;
}

.training__sub-title {
    color: var(--tertiary-color);
}

.training__description {
    word-wrap: break-word;
    color: var(--quaternary-color);
    margin-top: 20px;
}

.training__button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--button-background);
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    cursor: pointer;
    border: none;
}

.training__button:hover {
    background-color: var(--button-hover-background);
}

.training_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    float: left;
    margin-right: 20px;
}


@media screen and (max-width: 768px) {
    .training__section {
        grid-template-columns: 1fr;
        gap: 30px 0;
    }

    .training__button {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1410px) {
    .training__button {
        margin-bottom: 20px;
    }
}