:root {
    --primary-color: rgb(227, 195, 156);
    --secondary-color: rgb(114, 118, 130);
    --accent-color: rgb(5, 9, 27);
    --tertiary-color: rgb(134, 139, 155);
    --button-background: #5995c5;
    --button-hover-background: #2f3547;
}

ul {
    list-style-type: none;
}

.pricing {
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding: 50px;
    text-align: center;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.pricing_header_section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    flex-direction: column;
    align-self: center;
}

.pricing__section {
    color: var(--primary-color);
    text-align: center;
}

.pricing__title {
    color: var(--accent-color);
    text-align: center;
    font-family: calibri;
    font-size: 30px;
}

.pricing__description {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 50px;
    text-align: center;
    font-size: 15px;
}

.pricing_body_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    position: relative;
}

.classes__section {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
    margin-right: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
    left: 0;
    width: 100%
}

.classes__title {
    margin-bottom: 20px;
    font-family: calibri;
    color: var(--accent-color);
    font-size: 25px;
}

.classes__description {
    color: var(--tertiary-color);
    margin-bottom: 20px;
}

.classes__list {
    color: var(--secondary-color);
}

.classes__price strong {
    font-weight: bold;
    color: var(--primary-color);
}

.pricing__button {
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--button-background);
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
}

.pricing__button:hover {
    background-color: var(--button-hover-background);
}

.classes__image {
    display: block;
    height: 20%;
    max-width: 20%;
    margin: auto;
}

.classes__list li::before {
    content: "\2022";
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.classes__list .classes__text {
    color: var(--accent-color);
    font-weight: bold;
    font-family: century;
}

@media screen and (max-width: 768px) {
    .pricing_body_section {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

@media screen and (max-width: 1021px) {
    .pricing_body_section {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}