.header {
    padding: 0;
}
.schedule-header {
    padding: 75px 0 85px;
    background-color: var(--schedule-accent-color);
    
}
.schedule-header__title {
    font-size: 30px;
    text-align: center;
    
}
.schedule-header__description {
    text-decoration: none;
    color: var(--schedule-text-color);
    font-size: 11px;
    text-align: center;
    .schedule-header__description-link {
        text-decoration: underline;
    }
    
}


