<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="shortcut icon" href="https://placekitten.com/96/139" type="image/x-icon" />
  <link rel="stylesheet" href="css/index.css">
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/597f9cefd5.js" crossorigin="anonymous"></script>
</head>

<body>
  <header class="header">
    <div class="header__logo-container" data-hx-trigger="load" data-hx-swap="outerHTML"
      data-hx-get="common.header-logo.partial.html"></div>
    <nav class="header__nav" data-hx-trigger="load" data-hx-swap="outerHTML"
      data-hx-get="common.header-nav.partial.html"></nav>
    <address class="header__address" data-hx-trigger="load" data-hx-swap="outerHTML"
      data-hx-get="common.header-address.partial.html"></address>
  </header>
  <main>
    <div class="main-page-classes" data-hx-trigger="load" data-hx-swap="outerHTML"
      data-hx-get="main-page.classes.partial.html"></div>
    <div class="training" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="main-page.training.partial.html">
    </div>
    <div class="pricing" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="pricing.html"></div>
    <div class="slides" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="main-page.classes.partial.html">
    </div>
  </main>
  <footer class="footer">
    <div class="footer__logo" data-hx-trigger="load" data-hx-swap="outerHTML"
      data-hx-get="common.footer-logo.partial.html"></div>
    <p class="footer__title" data-hx-trigger="load" data-hx-swap="outerHTML"
      data-hx-get="common.footer-title.partial.html"></p>
    <nav class="footer__nav" data-hx-trigger="load" data-hx-swap="outerHTML"
      data-hx-get="common.footer-nav.partial.html"></nav>
    <p class="footer__description" data-hx-trigger="load" data-hx-swap="outerHTML"
      data-hx-get="common.footer-description.partial.html"></p>
    <div class="footer__social-icons-container" data-hx-trigger="load" data-hx-swap="outerHTML"
      data-hx-get="common.footer-social-icons.partial.html"></div>
    <p class="footer__copyright-text" data-hx-trigger="load" data-hx-swap="outerHTML"
      data-hx-get="common.footer-copyright-text.partial.html"></p>
  </footer>
</body>

</html>